* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Espaçamento do logotipo para mover os links para a esquerda */
.logo {
    margin-right: 300px;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-left: -20px;
}

.nav-links a {
    color: #333;
    font-size: 0.95em;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a:hover {
    color: #007bff;
}

.login-register img {
    width: 175px;
    height: auto;
}

/* Ajuste dos ícones para tamanhos uniformes */
.header-icons .icon img.header-icon {
    width: 150px;
    height: auto;
    display: block;
}

/* Alinhamento dos ícones */
.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Ajuste de cores para o hover */
.header-icons a:hover {
    color: #0056b3;
}

/* Hero Section com Carrossel */
.hero {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background-color: #d32f2f;
}

.hero-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Barra de Progresso no Carrossel */
.progress-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    /* Fundo semi-transparente */
    overflow: hidden;
    border-radius: 5px;
}

.progress-bar .progress {
    height: 100%;
    background-color: #fff;
    /* Cor da barra de progresso */
    width: 0;
    /* Largura inicial zero */
    transition: width 0.5s ease;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-arrow {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #0056b3;
}

.slider-arrow {
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.product-section {
    display: flex;
    gap: 20px;
    padding: 80px 145px 80px 221px;
    background-color: #f8f9fa;
    justify-content: center;
}

.product-card {
    display: flex;
    /* Alinha o texto e a imagem lado a lado */
    flex-direction: row;
    /* Garante que o texto fique à esquerda e a imagem à direita */
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 15px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-info {
    text-align: left;
    /* Alinha o texto à esquerda */
}

.product-card img {
    width: 100px;
    height: auto;
    /* Torna a imagem circular */
}

.product-info .subtitle {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}

.product-info .title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.explore-link {
    font-size: 0.70em;
    color: #000000;
    text-decoration: none;
}

.explore-link:hover {
    text-decoration: underline;
}

/* Product Layout */
.product-layout {
    display: flex;
    margin: 0px 143px 0px 220px;
    padding: 10px;
    background-color: #f8f9fa;
    justify-content: center;
}

.sidebar {
    background-image: url("./images/furniture.png");
    background-size: cover;
    /* Faz a imagem cobrir todo o elemento sem repetir */
    width: 20%;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.sidebar h4 {
    font-size: 0.9em;
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar p {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.sidebar img {
    width: 100%;
    border-radius: 8px;
}

/* Product List */
.product-list {
    padding-left: 20px;
}

.product-categories-wrapper {
    display: flex;
    flex-wrap: row;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.product-categories-wrapper h2 {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}

.product-categories {
    display: flex;
    gap: 15px;
    font-size: 0.9em;
}

.product-categories a {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

.product-categories .active {
    color: #007bff;
    font-weight: bold;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
    gap: 30px;
    margin-top: 20px;
    min-width: 657px;
    max-width: 657px;
}

.product-item {
    background-color: #fff;
    padding: 5px;
    /* Verifique se esse padding pode ser reduzido */
    margin: 0;
    /* Certifique-se de que a margem esteja zerada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 80px;
    height: auto;
    margin-bottom: 0px;
}

.product-item h3 {
    font-size: 1em;
    margin-bottom: 0px;
}

.product-item p {
    font-size: 0.85em;
    color: #666;
}

.price {
    font-size: 0.9em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

/* Most Popular Section */

.most-popular {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #fff;
    margin: auto;
}

.popular-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: -50px;
}

.popular-left img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    object-fit: cover;
}

.popular-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente o conteúdo na direita */
    justify-content: center;
    /* Centraliza verticalmente */
    text-align: center;
    padding-left: 0px;
}

.popular-right h2 {
    font-size: 1.7em;
    font-weight: bold;
    color: #102b46;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.popular-right p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.popular-right img {
    width: 25%;
    padding: 20px;
    border-radius: 8px;
}

.popular-right .price {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
}

.popular-right .discounted-price {
    color: #28a745;
    font-weight: bold;
    margin-left: 5px;
}

/* Features List */
.features-list {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px 40px;
    background-color: #fff;
    margin-bottom: 20px;
}

.feature {
    text-align: center;
    max-width: 150px;
    margin: 0;
}

.feature-number {
    color: red;
    font-size: 1.1em;
    font-weight: bold;
}

.feature h3 {
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.feature p {
    color: #666;
    font-size: 0.85em;
    text-align: center;
}

/* Additional Product Grid with Sidebar Section */
.additional-product-grid {
    display: flex;
    margin: 0px 143px 0px 220px;
    background-color: #f8f9fa;
    justify-content: center;
    margin-bottom: 20px;
}

.product-listing {
    padding-right: 20px;
}

.product-categories-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.product-categories-wrapper h2 {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

.product-categories {
    display: flex;
    gap: 15px;
    font-size: 0.9em;
}

.product-categories a {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

.product-categories .active {
    color: #007bff;
    font-weight: bold;
}

.category-arrows {
    display: flex;
    gap: 10px;
}

.left-arrow,
.right-arrow {
    font-size: 1em;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
    color: #007bff;
    border-color: #007bff;
}

.product-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
    gap: 30px;
    margin-top: 20px;
    min-width: 657px;
    max-width: 657px;
}

.product-item {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 0.85em;
    color: #666;
}

.price {
    font-size: 0.9em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

/* Sidebar with Donut Image */
.product-sidebar {
    background-image: url("./images/donut.png");
    background-size: cover;
    /* Faz a imagem cobrir todo o elemento sem repetir */
    width: 20%;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: start;

}

.product-sidebar h4 {
    font-size: 0.9em;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-sidebar p {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.product-sidebar img {
    width: 100%;
    border-radius: 8px;
}

/* New Most Popular Section */
.new-most-popular {
    display: flex;
    padding: 40px;
    background-color: #ffffff;
    gap: 20px;
    align-items: center;
}

.product-details {
    width: 40%;
    text-align: center;
}

.product-details h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.product-image img {
    width: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 10px;
}

.product-sales {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.price {
    font-size: 1em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

.color-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    background-color: #007bff;
}

.dot2 {
    background-color: #28a745;
}

.dot3 {
    background-color: #ff5733;
}

.dot4 {
    background-color: #ffc107;
}

.large-image {
    width: 60%;
    display: flex;
    justify-content: center;
}

.large-image img {
    width: 50%;
    border-radius: 8px;
}

/* Bestseller Products Section */
.bestseller-products {
    text-align: center;
    padding: 40px 0;
    background-color: #f8f9fa;
}

.bestseller-products h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    /* Centraliza o título */
}

.product-grid {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.product-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 180px;
    /* Define uma largura consistente */
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 0.85em;
    color: #666;
}

.price {
    font-size: 0.9em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

/* Brand Logos Section */
.brand-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centraliza os logos na linha */
    gap: 60px;
    /* Define o espaçamento entre as logos */
    padding: 20px 0;
    background-color: #f8f9fa;
    /* Define o fundo cinza-claro */
}

.brand-logos img {
    width: 120px;
    /* Ajuste o tamanho das logos conforme necessário */
    height: auto;
    opacity: 0.7;
    transition: opacity 0.3s;
    background: none;
    /* Garante que não há fundo ao redor */
    border: none;
    /* Remove qualquer borda */
    box-shadow: none;
    /* Remove qualquer sombra */
}

.brand-logos img:hover {
    opacity: 1;
    /* Aumenta a opacidade no hover */
}

/* Featured Posts Section */
.featured-posts {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

.section-subtitle {
    color: #007bff;
    font-size: 0.7em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.featured-posts h2 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.post-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.post-card {
    background-color: #f8f9fa;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s;
}

.post-card:hover {
    transform: scale(1.05);
}

.post-image {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5733;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.post-content {
    padding: 20px;
}

.post-tags a {
    color: #007bff;
    font-size: 0.8em;
    margin-right: 10px;
    text-decoration: none;
}

.post-tags a:hover {
    text-decoration: underline;
}

.post-content h3 {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #666;
    margin-bottom: 15px;
}

.learn-more {
    color: #007bff;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
}

/* Footer Section */
.footer {
    background-color: #102b46;
    color: #ffffff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-heading h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.footer-heading p {
    font-size: 0.9em;
    color: #bdc3c7;
}

.contact-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #2980b9;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    text-align: left;
}

.footer-column {
    width: 18%;
    min-width: 150px;
}

.footer-column h4 {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.contact-info p {
    font-size: 0.9em;
    color: #bdc3c7;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #bdc3c7;
    padding-top: 20px;
    font-size: 0.8em;
    color: #bdc3c7;
}

/* Social Icons Styling */
.social-icons {
    display: flex;
    gap: 15px;
}

/* Estilo do menu hambúrguer conforme o design no Figma definido */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0px;
}

.hamburger div {
    width: 24px;
    /* Ajuste o tamanho do ícone */
    height: 2px;
    background-color: #444;
    /* Cor do ícone */
    margin: 2px 0;
    transition: transform 0.3s;
}

.nav-links2 a {
    margin-right: 15px;
    color: #333;
    font-size: 0.95em;
    text-decoration: none;
}

.nav-links2 .dropdown-arrow {
    font-size: 0.75em;
    color: #333;
}

.nav-links2 a:hover {
    color: #007bff;
}


/* Estilo do menu móvel */
.mobile-menu {
    display: none;
    /* Esconde o menu inicialmente */
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 50px;
    /* Ajuste conforme o layout */
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mobile-menu a {
    text-decoration: none;
    color: #444;
    padding: 10px 0;
    transition: color 0.3s;
}

.mobile-menu a:hover {
    color: #007bff;
    /* Cor ao passar o mouse */
}

/* Responsividade para tablets e celulares */
@media (max-width: 1024px) {

    /* Ajustes gerais para tablets */
    .header-icons {
        display: none;
    }


    .product-section,
    .features-list,
    .additional-product-grid,
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }


    .product-layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .product-list {
        width: 100%;
        padding: 0;
    }

    .product-items-grid,
    .product-grid,
    .post-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .most-popular,
    .new-most-popular {
        flex-direction: column;
    }

    .popular-left,
    .product-details,
    .large-image {
        width: 100%;
    }
}

@media (max-width: 768px) {
    /* Ajustes para celulares */
    header {
        display: flex;
        padding: 10px 20px;
        box-shadow: none;
    }

    h2.logo {
        font-size: 24px;
        margin: 0;
        /* Remova qualquer margem desnecessária */
        line-height: 1;
        /* Ajusta a altura da linha para alinhar melhor */
        margin-bottom: 120px;
    }

    .header-icons {
        display: none;
        /* Oculta os ícones do desktop no mobile */
    }

    .header-icons2 {
        visibility: visible;
        /* Torna os ícones visíveis no mobile */
        display: flex;
        /* Mostra os ícones da versão mobile */
        align-items: center;
        gap: 15px;
        margin-right: 20px;
        margin-left: 130px;
        margin-bottom: 120px;
    }

    .header-icons2 .icon2 {
        font-size: 1.1em;
    }

    .header-icons2 a {
        font-size: 1em;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
        /* Mostra o ícone hambúrguer no mobile */
        margin-bottom: 118px;
    }

    .mobile-menu.active {
        display: flex;
        /* Mostra o menu quando ativo */
        font-weight: bold;
        margin-top: 0px;
        box-shadow: none;
    }

    #mobileMenu.mobile-menu.active a {
        color: #a1a1a1;
        /* Substitua por qualquer cor que desejar */
        box-shadow: none;
    }

    a.login-register {
        display: none;
    }

    .hero {
        margin-top: 100px;
        height: 550px;
    }

    .hero.content h1 {
        font-size: 2.7rem;
    }

    .hero.content p {
        font-size: 1em;
    }

    .hide-on-mobile {
        display: none;
        /* Oculta o texto apenas em telas menores */
    }

    .progress-bar {
        display: none;
    }

    .product-card {
        display: flex;
        flex-direction: row;
        background-color: #fff;
        height: 200px;
        width: 300px;
        gap: 0;
    }

    .product-card img {
        width: 100%;
        /* A imagem ocupará toda a largura do contêiner pai */
        height: 100%;
        /* Mantém a proporção da imagem */
        object-fit: contain;
        /* Ajusta a imagem para cobrir o contêiner de forma proporcional */
        margin-left: 0px;
        /* Centraliza a imagem */
    }

    .product-info {
        margin-left: 0;
        text-align: left;
    }

    .product-info .title {
        font-size: 1.5em;
        /* Aumenta um pouco o tamanho da fonte para destacar mais */
        font-weight: bold;
        color: #333;
        margin: 15px 0;
        /* Ajusta o espaçamento superior e inferior */
    }

    .product-info .subtitle {
        font-size: 1em;
        /* Um pouco maior para melhorar a leitura */
        color: #666;
        margin-bottom: 10px;
        /* Ajuste para não deixar muito espaço */
    }

    .explore-link {
        font-size: 1em;
        /* Ajusta o tamanho da fonte */
        color: #000;
        text-decoration: none;
        margin-top: 10px;
        /* Ajuste para não ter muito espaço */
    }

    .sidebar {
        height: 600px;
        /* Ajuste a altura conforme necessário */
        margin-right: 17px;
    }

    .product-list .product-categories-wrapper1 {
        flex-direction: column;
        margin: 0;
    }

    .product-categories-wrapper1 h2 {
        margin-bottom: 30px;
    }

    .product-categories {
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 30px;
    }

    .product-list .category-arrows {
        margin: 0;
    }

    .product-list .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        margin: 0;
    }

    .product-list .product-item {
        margin: 0;
        width: 400px;
    }

    .product-list .product-item .img {
        margin-right: 50px;
    }

    .most-popular .popular-left {
        background-color: #ffffff;
        margin-bottom: 60px;
        width: 370px;
        height: 100%;

    }

    .popular-left .img {
        width: 500px;
    }


    .most-popular .popular-product {
        box-shadow: none;
        background-color: #ffffff;
    }

    .popular-product p {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .popular-product p:first-of-type {
        font-weight: normal;
        color: rgb(129, 122, 122);
    }

    .popular-product .price s {
        text-decoration: none;
    }

    .vendas {
        display: flex;
        /* Mostra os ícones da versão mobile */
        align-items: center;
        flex-direction: row;
        gap: 10px;
        width: 60px;
        margin-top: 0px;
        margin-left: 80px;
    }

    .popular-product img {
        margin-top: 56px;
    }

    .num-vendas s {
        display: flex;
        font-weight: bold;
        color: rgb(129, 122, 122);
        text-decoration: none;
        width: 100px;
        margin: 0;
    }

    .color-dots2 {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
    }

    .dot2 {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 20px;
    }

    .dot2-1 {
        background-color: #23A6F0;
    }

    .dot2-2 {
        background-color: #114e1f;
    }

    .dot2-3 {
        background-color: #c74e1f;
    }

    .dot2-4 {
        background-color: #000000;
    }


    .features-list {
        margin-top: 130px;
        display: flex;
    }

    .product-sidebar2 {
        display: block;
    }

    .product-listing .product-categories-wrapper2 {
        flex-direction: column;
        margin: 0;
        gap: 30px;
    }

    .product-categories-wrapper1 h2 {
        margin-bottom: 10px;
    }

    .product-categories-wrapper2 .product-categories {
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 30px;
        gap: 10px;
    }

    .product-list .category-arrows {
        margin-top: 10;
    }

    .product-items-grid {
        display: flex;
        /* Define o contêiner como flexível */
        flex-wrap: wrap;
        /* Faz os itens quebrarem de linha, se necessário */
        justify-content: center;
        /* Centraliza os itens horizontalmente */
        gap: 20px;
        /* Espaçamento entre os itens */
    }

    .additional-product-grid .product-item {
        justify-content: center;
        /* Centraliza todos os elementos verticalmente */
        margin: 0;
        display: flex;
        /* Define o item como um contêiner flexível */
        flex-direction: column;
        /* Organiza o conteúdo do item em coluna */
        align-items: center;
        /* Centraliza os elementos do item (imagem e texto) */
        background-color: #ffffff;
        /* Fundo branco */
        width: 250px;
    }

    .additional-product-grid .product-item .img {
        margin-right: 100px;
        margin-left: 0px;
    }

    .additional-product-grid .product-sidebar {
        display: none;
    }

    .additional-product-grid {
        display: flex;
        padding: 20px;
        background-color: #ffffff;
        justify-content: center;
        /* Centraliza o conteúdo flex dentro do contêiner */
        margin-bottom: 50px;
    }

    .additional-product-grid .product-sidebar2 {
        position: relative;
        /* Necessário para o posicionamento absoluto do conteúdo */
        background-color: #b00ada;
        width: 100%;
        /* Ajuste a largura para cobrir toda a tela */
        height: 100vh;
        /* Define a altura para cobrir toda a tela */
        color: #ffffff;
        /* Cor do texto */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Adicione uma leve sombra para destaque */
        overflow: hidden;
        /* Evita que a imagem ultrapasse os limites */
    }

    .product-sidebar2 img {
        position: absolute;
        /* Torna a imagem absoluta para cobrir todo o contêiner */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ajusta a imagem para cobrir toda a sidebar sem distorção */
        z-index: 1;
        /* Garante que a imagem fique atrás do texto */
    }

    .product-sidebar2 h4 {
        position: absolute;
        /* Posiciona o texto sobre a imagem */
        z-index: 2;
        /* Garante que o texto fique sobre a imagem */
        margin: 0;
        padding: 0 20px;
        /* Padding opcional para dar um respiro ao texto */
        color: black;
    }

    .product-sidebar2 p {
        position: absolute;
        /* Posiciona o texto sobre a imagem */
        z-index: 2;
        /* Garante que o texto fique sobre a imagem */
        margin: 0;
        padding: 0 20px;
        /* Padding opcional para dar um respiro ao texto */
        color: rgb(143, 138, 138);
        font-weight: bold;
    }

    .product-sidebar2 h4 {
        top: 20px;
        /* Posiciona o título no topo */
        left: 20px;
        /* Define um espaçamento da esquerda */
    }

    .product-sidebar2 p {
        top: 60px;
        /* Posiciona a descrição abaixo do título */
        left: 20px;
        /* Define um espaçamento da esquerda */
        font-size: 0.9em;
    }

    .new-most-popular .large-image img {
        width: 400px;
        border-radius: 0px;
        margin: auto;
    }

    .product-details {
        display: none;
    }

    .product-details2 {
        border-radius: 0px;
        display: block;
        text-align: center;
        background-color: #ffffff;
        height: 628px;
        margin-right: 0px;
    }

    .product-details2 h2 {
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
        margin-bottom: 30px;
        margin-top: 80px;
    }

    .product-details2 p {
        font-size: 1em;
        color: #666;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .product-image2-1 {
        width: 100%;
    }

    .product-image2-1 img {
        width: 250px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .product-details2 .product-description2 {
        font-size: 0.9em;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .product-sales2 {
        font-size: 0.9em;
        color: #666;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .post-cards {
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Ajuste das logos para empilhamento */
    .brand-logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 480px) {

    /* Ajustes adicionais para celulares */
    .header-icons {
        display: none;
    }

    .hero button {
        padding: 10px 20px;
    }

    .features-list,
    .product-section {
        gap: 10px;
    }

    /* Seções empilhadas para telas pequenas */
    .product-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0px;
    }

    .product-categories-wrapper{
        display: flex;
        flex-direction: column;
    }

    .products{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    /* Ajuste de espaçamento nas listas de produtos */
    .product-grid,
    .product-items-grid {
        gap: 10px;
    }

    /* Tamanho e alinhamento das imagens */
    .product-item img,
    .large-image img {
        width: 100%;
        border-radius: 8px;
    }

    /* Seção de postagens em destaque (Featured Posts) */
    .post-card {
        width: 100%;
    }

    /* Ajustes para o rodapé */
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-column {
        width: 100%;
        text-align: center;
    }

    /* Ícones de redes sociais */
    .social-icons {
        justify-content: center;
        gap: 15px;
    }
}