* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-right: 300px;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-left: -20px;

    @media (max-width: 768px) {
        display: none;
    }
}

.nav-links a {
    color: #333;
    font-size: 0.95em;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a:hover {
    color: #007bff;
}

.login-register img {
    width: 175px;
    height: auto;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;

    & .icon img.header-icon {
        width: 150px;
        height: auto;
        display: block;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.header-icons a:hover {
    color: #0056b3;
}

.hero {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: #fff;
}

.hero-images {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.progress-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    border-radius: 5px;

    & .progress {
        height: 100%;
        background-color: #fff;
        width: 0;
        transition: width 0.5s ease;
    }
}

.hero-image {
    width: 100%;
    height: 100%;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-arrow {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #0056b3;
}

.slider-arrow {
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.product-section {
    display: flex;
    gap: 20px;
    padding: 80px 145px 80px 221px;
    background-color: #f8f9fa;
    justify-content: center;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 40px 20px;
    }
}

.product-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 60px;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s;

    :hover {
        transform: scale(1.05);
    }
}

.product-info {
    text-align: left;
}

.product-card img {
    width: 100px;
    height: auto;
}

.product-info .subtitle {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}

.product-info .title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.explore-link {
    font-size: 0.70em;
    color: #000000;
    text-decoration: none;
}

.explore-link:hover {
    text-decoration: underline;
}

.product-layout {
    display: flex;
    padding: 10px;
    background-color: #f8f9fa;
    justify-content: center;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 40px 20px;
    }
}

.sidebar {
    background-image: url("./images/furniture.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    min-height: 768px;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: start;

    & h4 {
        margin-bottom: 10px;
        font-weight: bold;
    }

    & p {
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.product-list {
    padding-left: 20px;
}

.product-categories-wrapper {
    display: flex;
    flex-wrap: row;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.product-categories-wrapper h2 {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}

.product-categories {
    display: flex;
    gap: 15px;
    font-size: 0.9em;
}

.product-categories a {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

.product-categories .active {
    color: #007bff;
    font-weight: bold;
}

.products {
    display: flex;
    overflow: hidden;
    gap: 30px;
    margin-top: 20px;
    max-width: 600px;
    flex-wrap: wrap;

    @media(max-width: 768px) {
        flex-direction: column;

        .product-item {
            width: 100%;
        }

        .product-item:nth-child(n+4) {
            display: none;
        }
    }
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0;
    text-align: center;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 80px;
    height: auto;
    margin-bottom: 0px;
}

.product-item h3 {
    font-size: 1em;
    margin-bottom: 0px;
}

.product-item p {
    font-size: 0.85em;
    color: #666;
}

.price {
    font-size: 0.9em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

.most-popular {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #fff;
    margin: auto;
}

.popular-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: -50px;
}

.popular-left img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    object-fit: cover;
}

.popular-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
}

.popular-right h2 {
    font-size: 1.7em;
    font-weight: bold;
    color: #102b46;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.popular-right p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.popular-right img {
    width: 25%;
    padding: 20px;
    border-radius: 8px;
}

.popular-right .price {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
}

.popular-right .discounted-price {
    color: #28a745;
    font-weight: bold;
    margin-left: 5px;
}

.features-list {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px 40px;
    background-color: #fff;
    margin-bottom: 20px;
}

.feature {
    text-align: center;
    max-width: 150px;
    margin: 0;
}

.feature-number {
    color: red;
    font-size: 1.1em;
    font-weight: bold;
}

.feature h3 {
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.feature p {
    color: #666;
    font-size: 0.85em;
    text-align: center;
}

.additional-product-grid {
    display: flex;
    background-color: #f8f9fa;
    justify-content: center;
    margin-bottom: 20px;
}

.product-listing {
    padding-right: 20px;
}

.product-categories-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h2 {
        font-size: 1em;
        font-weight: bold;
        color: #333;
    }
}

.product-categories {
    display: flex;
    gap: 15px;
    font-size: 0.9em;

    a {
        color: #333;
        text-decoration: none;
        font-weight: normal;
    }

    .active {
        color: #007bff;
        font-weight: bold;
    }
}

.category-arrows {
    display: flex;
    gap: 10px;
}

.left-arrow,
.right-arrow {
    font-size: 1em;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
    color: #007bff;
    border-color: #007bff;
}

.product-items-grid {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    max-width: 600px;
    flex-wrap: wrap;
    overflow: hidden;

    /*@media (max-width: 640px) {*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*}*/

    @media (max-width: 450px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 0.85em;
    color: #666;
}

.price {
    font-size: 0.9em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

.product-sidebar {
    background-image: url(./images/donut.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    min-height: 768px;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: start;

    & h4 {
        font-size: 0.9em;
        margin-bottom: 10px;
        font-weight: bold;
    }

    & p {
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    & img {
        width: 100%;
        border-radius: 8px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.new-most-popular {
    display: flex;
    padding: 40px;
    background-color: #ffffff;
    gap: 20px;
    align-items: center;
}

.product-details {
    width: 40%;
    text-align: center;
}

.product-details h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.product-image img {
    width: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 10px;
}

.product-sales {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.price {
    font-size: 1em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

.color-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    background-color: #007bff;
}

.dot2 {
    background-color: #28a745;
}

.dot3 {
    background-color: #ff5733;
}

.dot4 {
    background-color: #ffc107;
}

.large-image {
    width: 60%;
    display: flex;
    justify-content: center;
}

.large-image img {
    width: 50%;
    border-radius: 8px;
}

.bestseller-products {
    text-align: center;
    padding: 40px 0;
    background-color: #f8f9fa;

    & h2 {
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }
}

.product-bestseller {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    & .product-item img{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    @media (max-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 0.85em;
    color: #666;
}

.price {
    font-size: 0.9em;
    margin-top: 5px;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
}

.brand-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 20px 0;
    background-color: #f8f9fa;
}

.brand-logos img {
    width: 120px;
    height: auto;
    opacity: 0.7;
    transition: opacity 0.3s;
    background: none;
    border: none;
    box-shadow: none;
}

.brand-logos img:hover {
    opacity: 1;
}

.featured-posts {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

.section-subtitle {
    color: #007bff;
    font-size: 0.7em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.featured-posts h2 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.post-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.post-card {
    background-color: #f8f9fa;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s;
}

.post-card:hover {
    transform: scale(1.05);
}

.post-image {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5733;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.post-content {
    padding: 20px;
}

.post-tags a {
    color: #007bff;
    font-size: 0.8em;
    margin-right: 10px;
    text-decoration: none;
}

.post-tags a:hover {
    text-decoration: underline;
}

.post-content h3 {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #666;
    margin-bottom: 15px;
}

.learn-more {
    color: #007bff;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
}

.footer {
    background-color: #102b46;
    color: #ffffff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-heading h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.footer-heading p {
    font-size: 0.9em;
    color: #bdc3c7;
}

.contact-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #2980b9;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    text-align: left;
}

.footer-column {
    width: 18%;
    min-width: 150px;
}

.footer-column h4 {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.contact-info p {
    font-size: 0.9em;
    color: #bdc3c7;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #bdc3c7;
    padding-top: 20px;
    font-size: 0.8em;
    color: #bdc3c7;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0px;
}

.hamburger div {
    width: 24px;
    height: 2px;
    background-color: #444;
    margin: 2px 0;
    transition: transform 0.3s;
}

.nav-links2 a {
    margin-right: 15px;
    color: #333;
    font-size: 0.95em;
    text-decoration: none;

}

.nav-links2 .dropdown-arrow {
    font-size: 0.75em;
    color: #333;
}

.nav-links2 a:hover {
    color: #007bff;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
